{% extends 'admin/base.html'%}
{% block content %}
<br><br><br>

<div class="card mx-auto" style="width: 20rem;">
    <div class="card-body shadow">
        <h5 class="card-title text-center">ADMIN LOGIN</h5>
        <form action="" method="post">
            <div class="form-group">
                <label for="username">Username or Email</label>
                <input type="username" name="username" class="form-control" id="usernameTxtBx" required="1">
                <small id="username" class="form-text text-muted">Mentorship System API
                    1.0 Admin Login.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" required="1">
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
<hr>
<h5 class="text-right">Mentorship System API</h5>
{% endblock %}