{% extends 'admin/base.html'%}
{% block content %}
    <h1 class="text-center"><strong>Update User</strong> </h1>
    <a href="/userdata/{{obj.id}}"  rel="noopener noreferrer"><p class="text-center">Later...</p></a>
    <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body shadow">
    <form method="post" enctype = "multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" required="1" value="{{obj.name}}">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" required="1" value="{{obj.username}}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" value={{obj.password_hash}} readonly>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" required="1" value="{{obj.email}}">
        </div>
        <div class="form-group">
            <label>Bio</label>
            <textarea  type="text" class="form-control" name="bio">{{obj.bio}}</textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Profile Image</label>
            <input type="file" class="form-control-file" name="file" id="exampleFormControlFile1" placeholder="{{obj.profile_photo}}">
        </div>
        <div class="form-group">
            <label>Skills</label>
            <textarea type="text" class="form-control" name="skills" placeholder="">{{obj.skills}}</textarea>
        </div>
        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" name="location"  value="{{obj.location}}">
        </div>
        
        <div class="form-group">
            <label>Occupation</label>
            <input type="text" class="form-control" name="occupation" value="{{obj.occupation}}">
        </div>
        <div class="form-group">
            <label>Organization</label>
            <input type="text" class="form-control" name="organization"  value="{{obj.organization}}">
        </div>
        <div class="form-group">
            <label>Interests</label>
            <input type="text" class="form-control" name="interests" value="{{obj.interests}}">
        </div>
        <div class="form-group">
            <label>Slack Username</label>
            <input type="text" class="form-control" name="slack_username" value="{{obj.slack_username}}">
        </div>
        <div class="form-group">
            <label>Social Media Links</label>
            <input type="text" class="form-control" name="social_media_links" value="{{obj.social_media_links}}">
        </div>
        <div class="form-group">
            <label>Resume Url</label>
            <input type="text" class="form-control" name="resume_url" value="{{obj.resume_url}}">
        </div>

        <div class="form-group">
            Need Mentoring :
        <select name="need_mentoring" class="btn-outline-secondary btn-sm" id="mySelect">
            <option value="True">Yes, I want mentor </option>
            <option value="False">No, need for mentor</option>
        </select>
        </div>
        <div class="form-group">
            Available To Mentor :
        <select name="available_to_mentor" class="btn-outline-secondary btn-sm" id="mySelect1">
            <option value="True">Yes, I'm available for mentor </option>
            <option value="False">No, I need mentor</option>
        </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-check">
                    <input class="form-check-input" name="is_admin" type="checkbox" value="{{obj.is_admin}}" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Is Admin
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    <input class="form-check-input" name="email_verified" type="checkbox" value="{{obj.email_verified}}">
                    <label class="form-check-label" for="defaultCheck1">
                        Email verified
                    </label>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Update {{obj.name}} </button>
    </form>
    </div>
    </div>

{% endblock %}