{% extends 'admin/base.html'%}
{% block content %}
<style>

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


</style>
    <div class="row">
    <div class="col-md-6">
        <div class="card card-body h-100  border-info shadow" id="profile-wrapper">
            {% if obj.profile_photo %}
                <img id="profile-pic" src="{{ obj.profile_photo }}">
            {% else %}
                <img id="profile-pic" src="/static/user-dummy-pic.png">
            {% endif %}
            <hr>
            <h4>{{ obj.name }}</h4>
            <p>{{ obj.bio }}</p>
        </div>
    </div>
    <div class="col-md-6">
    <div class="card card-body h-100  border-info shadow">
        <h4>Details</h4>
        <hr>
        <p><strong>Location :</strong> {{obj.location}}</p>
        <p><strong>Occupation :</strong> {{obj.occupation}}</p>
        <p><strong>Organization :</strong> {{obj.organization}}</p>
        <p><strong>Skills :</strong> {{obj.skills}}</p>
        <p><strong>Intrests :</strong> {{obj.instrests}}</p>
        <p><strong>Location :</strong> {{obj.location}}</p>
        <p><strong>Current Mentorship Role :</strong> {{obj.current_mentorship_role}}</p>
        <p><strong>Membership Status :</strong> {{obj.membership_status}}</p>
    </div>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body h-100  border-success shadow">
                <h4>Status</h4>
                <hr>
                <p><strong>
                    Admin Status : </strong>
                    {% if obj.is_admin %}
                    <i class="fa fa-check" style="font-size:20px;color:rgb(64, 223, 64)"></i>
                    {%else%}
                    <i class="fa fa-times" aria-hidden="true" style="font-size:20px;color:red"></i>
                    {% endif %}
                </p>
                <p><strong>
                    Need Mentoring Status: </strong>
                    {% if obj.need_mentoring %}
                    <i class="fa fa-check" style="font-size:20px;color:rgb(64, 223, 64)"></i>
                    {%else%}
                    <i class="fa fa-times" aria-hidden="true" style="font-size:20px;color:red"></i>
                    {% endif %}
                </p>
                <p><strong>
                    Available To Mentor Status : </strong>
                    {% if obj.available_to_mentor %}
                    <i class="fa fa-check" style="font-size:20px;color:rgb(64, 223, 64)"></i>
                    {%else%}
                    <i class="fa fa-times" aria-hidden="true" style="font-size:20px;color:red"></i>
                    {% endif %}
                </p>
            </div>

        </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-4 mx-auto">
        <a class="del" href="/delete/{{obj.id}}"><i class="fa fa-trash-o" style="font-size:48px;color:red"></i>

</a>
    </div>
    <div class="col-md-3">
    <a href="/update/{{obj.id}}"><i class="fa fa-edit" style="font-size:48px;color:rgb(64, 223, 64)"></i>
</a>
    </div>
    </div>
    <hr>
    <a href="/admin"><p class="text-center">Back to admin...</p></a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".del").click(function(){
        if (!confirm("Do you want to delete")){
        return false;
        }
    });
    });
    </script>
{% endblock %}
